attrs==24.2.0
certifi==2024.8.30
certstream==1.12
chardet==5.2.0
charset-normalizer==3.3.2
coverage==7.6.1
dnspython==2.6.1
exceptiongroup==1.2.2
filelock==3.16.0
idna==3.8
iniconfig==2.0.0
joblib==1.4.2
Levenshtein==0.25.1
mock==5.1.0
mongomock==4.2.0.post1
more-itertools==10.5.0
numpy==2.0.2
packaging==24.1
pandas==2.2.2
pbr==6.1.0
pluggy==1.5.0
py==1.11.0
pymongo==4.8.0
pytest==8.3.3
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.2
PyYAML==6.0.2
rapidfuzz==3.9.7
requests==2.32.3
requests-file==2.1.0
scikit-learn==1.5.2
scipy==1.13.1
sentinels==1.0.0
six==1.16.0
termcolor==2.4.0
threadpoolctl==3.5.0
tldextract==5.1.2
tomli==2.0.1
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.2
websocket-client==1.8.0